body {
  background: linear-gradient(
    to top,
    rgb(255, 8, 68) 0%,
    rgb(255, 177, 153) 100%
  );
}

footer {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  color: #45171d;
  text-align: center;
}

.App {
  max-width: 800px;
  margin: 60px auto;
}

.Weather {
  font-family: "Cerebri-Sans", Helvetica, Arial, sans-serif;
  background: transparent;
  border-radius: 24px;
  box-shadow: 0px 30px 50px #e84a5f;
  padding: 40px;
  color: #e84a5f;
}

.Weather form {
  margin-top: 40px;
  border-bottom: 1px solid #fecea8;
  padding-bottom: 30px;
}

.Weather .search-input {
  background: transparent;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: #fecea8;
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.Weather .btn {
  background: transparent;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
  color: #fecea8;
}

.Weather .search-input::placeholder {
  line-height: 20px;
  color: #fecea8;
}

.Weather h1 {
  margin: 20px 0 10px 0;
  line-height: 29px;
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;
  color: #e84a5f;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-weight: 500;
  margin-bottom: 5px;
  text-transform: capitalize;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.Weather li strong {
  color: #f65282;
  font-weight: normal;
  text-transform: capitalize;
}

.Weather .temperature {
  font-weight: bold;
  color: #e84a5f;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
  font-weight: bold;
  font-size: 80px;
  line-height: 1;
}

.units a {
  text-decoration: none;
  cursor: default;
}

.units .active {
  color: rgb(33, 33, 33);
}

.Weather canvas {
  margin: 10px 0;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 28px;
  line-height: 36px;
  font-weight: normal;
  position: relative;
  line-height: 1;
  top: -34px;
}

.WeatherForecast {
  text-align: center;
  margin: 40px 0;
  border-bottom: 1px solid #e84a5f;
  padding-bottom: 50px;
}

.WeatherForecast .forecast-time {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-weight: 700;
  color: rgba(39, 33, 66, 0.4);
}

.WeatherForecast .forecast-temperature {
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  color: #45171d;
}

.Weather .WeatherForecast img {
  display: block;
  margin: 20px auto;
}

.WeatherInfo .temperature-container {
  margin-top: 30px;
  align-items: center;
}
